.navbar
  margin: 0

#main-container
  margin: 20px auto

.editor-area
  & // colors
    background: rgba(0, 0, 0, 1)
  & // sizing
    border-radius: 0
    padding: 12px

.ace_editor
  min-height: 400px

  .inserted-line
    position: absolute
    -webkit-transition: background-color
    -webkit-transition-duration: 0.5s
    background: inherit
    -webkit-transition-timing-function: ease-out
    &.ease-in
      -webkit-transition-timing-function: ease-in
      background: rgba(153, 204, 0, 0.8)
    z-index: 20

.coding-area
  & // colors
    background: rgba(0, 0, 0, 1)
    color: rgba(255, 255, 255, 1)

  & // sizing, spacing
    width: 100%
    max-width: 100%
    min-height: 400px
    padding: 0
    border: 0
    margin: 3px

.status-area
  & // sizing, spacing
    width: 100%
    max-width: 100%
    min-height: 88px
    padding: 0
    border: 0

  & // font
    font-family: 'Courier New'

  & // color
    background: rgba(51, 51, 51, 1)
    color: rgba(255, 255, 255, 1)

.coding-actions
  & // color
    background: rgba(51, 51, 51, 1)
    color: rgba(255, 255, 255, 1)
  button
    width: 80px
    height: 24px
    line-height: 24px
    padding: 0
    border-radius: 0
    font-weight: bold

.source-info
  & // color
    background: rgba(51, 51, 51, 1)
    color: rgba(255, 255, 255, 1)

  .languages
    display: inline-block
    width: 100%
    border-radius: 0
    height: 24px
    line-height: 24px
    padding: 0 6px

.action-list
  .list-group-item
    & // font
      font-weight: bold
    & // colors
      background: rgba(0, 0, 0, 1)
      color: rgba(255, 255, 255, 1)

  .list-group-item:hover
    & // misc
      cursor: pointer
    & // colors
      background: rgba(0, 102, 255, 1)
